@model IEnumerable<Productstorage>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Количество
            </th>
            <th>
                Товар
            </th>
            <th>
                Склад
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Productstorageid">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Productstorageid">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Productstorageid">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
